body {
    background-color: #f1b1bc; /* Rosa Goiaba */
    color: white;
    font-size: medium;
    font-family: 'Great', cursive;
    text-align: justify;
    padding: 20px;

}

h1 {
    text-align: center;
}

/* Estilos para tela de celular */
@media only screen and (max-width: 600px) {
    body {
        padding: 10px;
    }
}